<article>
    <h1>Recipient</h1>
    <address contenteditable>
        <p>
            <%= @issue_slip.customer.name %>
            <br>
            <%= @issue_slip.customer.address %>
        </p>
    </address>
    <table class="meta">
        <tr>
            <th><span contenteditable>Испратница бр.</span></th>
            <td><span contenteditable><%= @issue_slip.number %></span></td>
        </tr>
        <tr>
            <th><span contenteditable>Датум</span></th>
            <td><span contenteditable><%= @issue_slip.date.strftime('%d.%m.%Y') %></span></td>
        </tr>
    </table>
    <table class="inventory">
        <thead>
            <tr>
                <th class="first"><span contenteditable>РБ</span></th>
                <th class="second"><span contenteditable>Шифрра</span></th>
                <th class="third"><span contenteditable>Артикл</span></th>
                <th class="first"><span contenteditable>Кол</span></th>

            </tr>
        </thead>
        <tbody>
        <% count = 0 %>
            <% @issue_slip.documents.each do |article| %>
            <tr>
                <td><span contenteditable><%= count += 1 %></span></td>
                <td><span contenteditable><%= article.product.code %></span></td>
                <td><%= article.product.display_name %></td>
                <td><span contenteditable><%= article.qty %></span></td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <% if @issue_slip.received_by.present? %>
        <p>Примил: <%= @issue_slip.received_by %></p>    
    <% end %>
    <% if @issue_slip.licence_plate.present? %>
        <p>Рег број: <%= @issue_slip.licence_plate %></p>    
    <% end %>
</article>