
    <h4 style="text-align: center; margin: 0em; padding: 0em;"> <%= pdf_document_type %> Бр. <%= @issue_slip.number %></h4>
    <table class="customer" width="40%">
        <tr>
            <td><strong>До:</strong></td>
        </tr>
        <tr>
            <td><%= @issue_slip.customer.name %></td>
        </tr>
        <tr>
            <td>Extra space</td>
        </tr>
        <tr>
            <td><%= @issue_slip.customer.address  %></td>
        </tr>
        <tr>
            <td><%= "1000" %></td>
        </tr>
    </table>
    <div class="dates">
      <ul>
          <li>Датум: <%= @issue_slip.date %></li>
          <%# <li>Рок на плаќање: <%= @issue_slip.due_date  %></li> %>
      </ul>
    </div>


    <br />

    <table width="100%" style="margin-top: 15mm;">
        <thead style="background-color: lightgray;">
            <tr>
                <th>Рб</th>
                <th>Ш.</th>
                <th width="40%">Артикл</th>
                <th>Кол.</th>
            </tr>
        </thead>
        <tbody>
            <% counter = 0 %>
            <% @issue_slip.documents.each do |article| %>
                <tr style="border-bottom: 1px solid rgb(99, 99, 99);">
                    <th scope="row"><%= counter += 1 %></th>
                    <td align="right"><%= article.product.code %></td>
                    <td><%= article.product.display_name %></td>
                    <td align="right"><%= article.qty %></td>
                </tr>
            <% end %>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
