<%= turbo_frame_tag 'customers' do %>
<table class="min-w-full">
  <thead class="bg-white border-b">
    <tr>
      <th scope="col" id="customers_id" class="text-sm font-medium w-5 text-gray-900 px-6 py-4 text-left">
        #
      </th>
      <th scope="col" id="customers_name" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
        <%= sort_indicator if params[:column] == 'name' %>
        <%= sort_link(column: 'name', label: 'Назив') %>
      </th>
      <th scope="col" id="customers_total" class="text-sm font-medium w-1/6 text-gray-900 px-6 py-4 text-left">
        <%= sort_indicator if params[:column] == 'total' %>
        <%= sort_link(column: 'total', label: 'Вкупен промет') %>
      </th>
      <th scope="col" class="text-sm font-medium w-4 text-gray-900 px-6 py-4 text-left">
        Акција
      </th>
    </tr>
  </thead>
  <tbody>
    <% customers.each do |customer| %>
      <tr class="bg-white border-b">
        <td class="px-6 py-1 whitespace-nowrap text-right text-sm font-medium text-gray-900">
          <%= customer.id %>
        </td>
        <td class="text-sm text-gray-900 font-light px-6 py-1 whitespace-nowrap">
          <%= customer.name %>
        </td>
        <td class="text-sm text-gray-900 font-light px-6 py-1 whitespace-nowrap">  
          <%= number_to_currency(customer.total, locale: :mk) %>
        </td>
        <td class="text-sm text-gray-900 font-light px-6 py-1 whitespace-nowrap inline-flex"> 
          <%= link_to edit_customer_path(customer) do %>
            <%# <span class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> %>
            <svg enable-background="new 0 0 19 19" height="19px" id="Layer_1" version="1.1" viewBox="0 0 19 19" width="19px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M8.44,7.25C8.348,7.342,8.277,7.447,8.215,7.557L8.174,7.516L8.149,7.69   C8.049,7.925,8.014,8.183,8.042,8.442l-0.399,2.796l2.797-0.399c0.259,0.028,0.517-0.007,0.752-0.107l0.174-0.024l-0.041-0.041   c0.109-0.062,0.215-0.133,0.307-0.225l5.053-5.053l-3.191-3.191L8.44,7.25z" fill="#231F20"/><path d="M18.183,1.568l-0.87-0.87c-0.641-0.641-1.637-0.684-2.225-0.097l-0.797,0.797l3.191,3.191l0.797-0.798   C18.867,3.205,18.824,2.209,18.183,1.568z" fill="#231F20"/><path d="M15,9.696V17H2V2h8.953l1.523-1.42c0.162-0.161,0.353-0.221,0.555-0.293   c0.043-0.119,0.104-0.18,0.176-0.287H0v19h17V7.928L15,9.696z" fill="#231F20"/></g></svg>
            <%# </span> %>
          <% end %>
          
          <%= button_to 'Избриши', customer, method: :delete, data: { method_turbo_confirm: 'Дали сте сигурни дека сакате да го избришете клиентот?' }, class: 'text-red-500 hover:text-red-700' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

