<%= turbo_frame_tag :modal do %>
<!-- Button trigger modal -->
    <div data-controller="modals" class="fixed w-full h-full z-1 max-w-2xl">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t">
                <h3 class="text-xl font-semibold text-gray-900">
                    Креирај нов Модел
                </h3>
                <button data-action="click->modals#close" type="button" class="text-gray-400 bg-transparent rounded-lg text-sm p-1.5 ml-auto inline-flex items-center hover:bg-gray-600 hover:text-white">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->


        <%= form_with model: @pattern do |f| %>
            <div class="p-6 space-y-6">
                <div class="flex flex-col space-y-2">
                    <%= f.label 'Име', class: "text-gray-600" %>
                    <%= f.text_field :name, class: "border border-gray-200 rounded-lg px-4 py-2 focus:outline-none focus:ring-4 focus:ring-blue-300 focus:border-transparent" %>
                </div>
            </div>

            <div class="p-6 space-y-6">
                <div class="flex flex-col space-y-2">
                    <%= f.label 'Сезона', class: "text-gray-600" %>
                    <%= f.select :season, options_for_select(Pattern.translated_seasons_for_select)  %>
                </div>
            </div>


            <div class="p-6 space-y-6">
                <div class="flex flex-col space-y-2">
                    <%= f.label 'Бренд', class: "text-gray-600" %>
                    <%= f.collection_select :brand_id, Brand.all, :id, :name, {}, { class: "border border-gray-200 rounded-lg px-4 py-2 focus:outline-none focus:ring-4 focus:ring-blue-300 focus:border-transparent" } %>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b border-gray-600">
                <%= f.submit 'Креирај Модел', class:'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>
                <button data-action="click->modals#close" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Откажи</button>
            </div>
        <% end %>
        </div>
    </div>

<% end %>