<% products.each do |product| %>
  <tr class="bg-white border-b">
    <td class="px-6 py-1 whitespace-nowrap text-right text-sm font-medium text-gray-900">
      <%= product.code %>
    </td>
    <td class="text-sm text-gray-900 font-light px-6 py-1 whitespace-nowrap">
      <%= product.display_name %>
    </td>
    <td class="text-sm text-gray-900 font-light px-6 py-1 whitespace-nowrap">  
      <%= t(product.pattern.season) %>
    </td>
    <td class="text-sm text-gray-900 text-right	 font-light px-6 py-1 whitespace-nowrap">
      <%= number_to_currency(product.retail_price, locale: :mk) %>
    </td>
    <% Warehouse.all.each do |w| %>
      <td class="text-sm text-gray-900 text-right font-light px-6 py-1 whitespace-nowrap">
        <%= product.stock_per_warehouse(w) %>
      </td>
      <% end %>
    
  </tr>
<% end %>
